/* CSS Document */
/*
form {
	background-color:#CCCCCC;
	width: 700px;
	margin: auto;
}*/

.class{
width:128px;
}

.class1{
width:170px;
}

legend{
	text-align:center;
	font-size: 1,8cm;
	font-weight: bold;
}
div{
	margin: 0px 0px 10px 0px;
	font-size: 1,2cm;
}
form span{
	color:red;
	font-style:italic;
}
.button:hover{
	background-color:#CCCCFF;
}
.title{
	text-align: center;
	color:blue;
}