a                       {font-family: Verdana, Arial, Helvetica, sans-serif;}

/* Header */
#header                 {background:url(images/top_bg_c.jpg) bottom; height: 77px;}
#header .left           {background:url(images/top_bg_l.jpg) no-repeat; height: 77px; width: 358px; float:left;}
#header .right          {background:url(images/top_bg_r.jpg) no-repeat; height: 77px; width: 418px; float:right;}

#header .top            {height: 52px;}
#header .top a          {font-size:22px; color:Blue; font-weight:bold; margin-left:20px; margin-top:10px;}
#header .down           {height: 25px;}
#header .down a         {font-size:14px;margin-left:25px;}


#page-heading	{margin: 0 0 15px 20px;	}
#table-content	{
	line-height: 16px;
	margin: 0 10px 10px 10px;
	/*min-height: 300px;*/
	}
	
.Control				{ margin:0; padding:0; border:1px solid #99BBE8; background:#D0DEF0; height:26px; line-height:26px; }
.Control a:link,
.Control a:visited		{ color:#000000; font-weight:normal; text-decoration:none; }
.Control a:hover		{ color:#000000; font-weight:normal; text-decoration:none; }
.Control li				{ display:inline; list-style:none; padding:0 10px 0 4px; background: url(images/control_li_split.gif) right no-repeat; }
.Control .vadd			{ background: url(images/page_add.png) center left no-repeat; padding-left:20px; }
.Control .vedit	 		{ background: url(images/edit.png) center left no-repeat; padding-left:20px; }
.Control .vdelete 		{ background: url(images/delete.png) center left no-repeat; padding-left:20px; }
.Control .vrefresh		{ background: url(images/refresh.png) center left no-repeat; padding-left:20px; }
.Control .vback			{ background: url(images/uplevel.png) center left no-repeat; padding-left:20px; }
.Control .uupdate		{ background: url(images/page_save.png) center left no-repeat; padding-left:20px; }
.Control .uback			{ background: url(images/back.png) center left no-repeat; padding-left:20px; }
.sortasc				{background: url(images/asc.gif) left no-repeat; padding: 0px 0px 0px 9px; color:#2276f2; }
.sortdesc				{background: url(images/desc.gif) left no-repeat; padding: 0px 0px 0px 9px; color:#2276f2; }